/*container using the hole screen*/
#main{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/*container for the page heading*/
#top_bar{
    width: 100vw;
    height: 10vh;
    float:left;
    /*border-radius: 5px;
    border-width:1px;
    border-style:solid;
    border-color:black;*/
}

#editor{
    box-sizing: border-box;
    width: 100vw;
    height: 90vw;
    overflow:hidden;
    display: flex;
}

/*container for sidebar the materials and processes on the left side of the screen
    - using 20vw as 20% of the hole screen but 100% of the height
*/
#side_bar{
    width: 20vw;
    height: 90vh;
    float:left;
    overflow: scroll;
    background-color: lightgray;
}

/*container for material*/
#material_window{
    box-sizing: border-box;
    width: 20vw;
    height: auto;
    float:left;
    vertical-align: top;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

#materials{
    box-sizing: border-box;
    align-items: center;
}

/*container for processes*/
#processes_window{
    box-sizing: border-box;
    width: 20vw;
    height: auto;
    float:left;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

/*container for material*/
#workspace{
    width: 80vw;
    height: 90vh;
    overflow: hidden;
    float:left;
    border-radius: 5px;
    border-width:1px;
    border-style:solid;
    border-color:black;

    /*grid background*/
    background-size: 40px 40px;
    background-image: radial-gradient(circle, #000000 1px, rgba(0, 0, 0, 0) 1px);
}

/*change properties of all class "heading" elements (eg. page heading, material window heading, process heading)*/
.heading{
    text-align: center;
}

.side_bar_element{
    width: 200px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    border-width:1px;
    border-style:solid;
    border-color:black;

    /*center this horizontally in the middle*/
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.workspace_element{
    position: absolute;
    width: 200px;
    height: auto;
    text-align: center;
    border-radius: 5px;
    border-width:1px;
    border-style:solid;
    border-color:black;
}

.element_spacer{
    height: 10px;
}

