altgraph==0.17.3
aniso8601==9.0.1
attrs==23.1.0
auto-py-to-exe==2.36.0
bottle==0.12.25
bottle-websocket==0.2.9
cffi @ file:///C:/b/abs_49n3v2hyhr/croot/cffi_1670423218144/work
click @ file:///C:/ci/click_1646056762388/work
colorama @ file:///C:/b/abs_a9ozq0l032/croot/colorama_1672387194846/work
cryptography @ file:///C:/b/abs_b7d7drzbky/croot/cryptography_1673298763653/work
Eel==0.16.0
exceptiongroup==1.1.2
flasgger==0.9.7b2
Flask @ file:///C:/b/abs_ef16l83sif/croot/flask_1671217367534/work
Flask-RESTful==0.3.10
flask-restplus==0.13.0
flask-restx==1.1.0
flask-swagger==0.2.14
flask-swagger-ui==4.11.1
flask-vite==0.2.4
future==0.18.3
gevent==23.7.0
gevent-websocket==0.10.1
greenlet==2.0.2
iniconfig==2.0.0
itsdangerous @ file:///tmp/build/80754af9/itsdangerous_1621432558163/work
Jinja2 @ file:///C:/b/abs_7cdis66kl9/croot/jinja2_1666908141852/work
jsonschema==4.17.3
MarkupSafe @ file:///C:/ci/markupsafe_1654508036328/work
mistune==3.0.1
node==1.2.1
npm==0.1.1
odict==1.9.0
optional-django==0.1.0
Owlready2 @ file:///D:/bld/owlready2_1665142528388/work
packaging==23.1
pefile==2023.2.7
pluggy==1.2.0
plumber==1.7
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyinstaller==5.13.0
pyinstaller-hooks-contrib==2023.6
pyparsing==3.1.1
pyrsistent==0.19.3
pytest==7.4.0
pytz==2023.3
pywin32-ctypes==0.2.2
PyYAML==6.0
six==1.16.0
tomli==2.0.1
Werkzeug @ file:///C:/b/abs_8578rs2ra_/croot/werkzeug_1679489759009/work
whichcraft==0.6.1
zope.component==6.0
zope.deferredimport==4.4
zope.deprecation==5.0
zope.event==4.6
zope.hookable==5.4
zope.interface==6.0
zope.lifecycleevent==4.4
zope.proxy==5.0.0
